/*General configurations*/

@font-face {
  font-family: "Lato";
  src: url('698242188-Lato-Bla.eot');
  src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
  url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
  url('698242188-Lato-Bla.woff') format('woff'),
  url('698242188-Lato-Bla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url(/assets/fonts/Montserrat-Bold.ttf);
 
}
@media only screen and (max-width: 600px) {

body{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: Lato, sans-serif; /* Tror ikke lato virker*/
  font-size: 14px;
}

main{
  font-size: 1.2rem;
}

h1 h2 h3{
  font-family: Montserrat, sans-serif;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2.2rem;
}

p{
  max-width: 70ch;
  line-height: 1.5;
}

header{
  background-image: url(assets/img/studentsbg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-sizing: border-box;
  height: 55vh;
  /* The background image will be scaled “as large as possible to fill the 
container, stretching the image if necessary. If the proportions of the 
image differ from the element, it is cropped either vertically or 
horizontally so that no empty space remains” */
}

.header.div{
  background-color:  #c5192d;
  margin-top: 4rem;
}
li:nth-child(3n+1)::before {
  content: "\1F64C";          /* Emoji hender */
}

li:nth-child(3n+2)::before {
  content: "\1F3EB";          /* Emoji skole */
}

li:nth-child(3n+3)::before {
  content: "\1F4DA";          /* Emoji bøker */
}


main{
  box-shadow: 0 0 1px 0 darkgray;
  background-color: whitesmoke;
  padding: 5px;

}

#intro-container{
  background-color:  #c5192d;
  margin: 20px;
  padding: 20px 10px 20px 10px;
}
  
ul {
  list-style: none;           /* remove the default */
}
}


@media only screen and (max-width: 960px) and (min-width: 600px) {

  body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif; /* Tror ikke lato virker*/
    font-size: 16px;
  }
  
  main{
    font-size: 1.2rem;
  }
  
  h1 h2 h3{
    font-family: Montserrat, sans-serif;
  }
  
  h1{
    font-size: 4rem;
  }
  
  h2{
    font-size: 2.2rem;
  }
  
  p{
    max-width: 70ch;
    line-height: 1.5;
  }
  
  header{
    background-image: url(assets/img/studentsbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    height: 65vh;
    /* The background image will be scaled “as large as possible to fill the 
  container, stretching the image if necessary. If the proportions of the 
  image differ from the element, it is cropped either vertically or 
  horizontally so that no empty space remains” */
  }
  
  .header.div{
    background-color:  #c5192d;
    margin-top: 4rem;
  }
  li:nth-child(3n+1)::before {
    content: "\1F64C";          /* Emoji hender */
  }
  
  li:nth-child(3n+2)::before {
    content: "\1F3EB";          /* Emoji skole */
  }
  
  li:nth-child(3n+3)::before {
    content: "\1F4DA";          /* Emoji bøker */
  }
  
  
  main{
    box-shadow: 0 0 1px 0 darkgray;
    background-color: whitesmoke;
    padding: 5px;
  
  }
  
  #intro-container{
    margin: 20px;
    padding: 20px 10px 20px 10px;
    background-color:#c5192d ;
    background-size: 50% auto;
    width: 50%;
  }
    
  ul {
    list-style: none;           /* remove the default */
  }

  .header, #main, footer{
    width: 85%;
  }

  article{
    display: inline-block;
    margin-right: -10%;
    width: 45%;
    padding-right: 10%;
  }


}


@media only screen and (min-width: 960px) {
  body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif; /* Tror ikke lato virker*/
    font-size: 24px;
  }
  
  main{
    font-size: 1.2rem;
  }
  
  h1 h2 h3{
    font-family: Montserrat, sans-serif;
  }
  
  h1{
    font-size: 4rem;
  }
  
  h2{
    font-size: 2.2rem;
  }
  
  p{
    max-width: 70ch;
    line-height: 1.5;
  }
  
  header{
    background-image: url(assets/img/studentsbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    height: 65vh;
    /* The background image will be scaled “as large as possible to fill the 
  container, stretching the image if necessary. If the proportions of the 
  image differ from the element, it is cropped either vertically or 
  horizontally so that no empty space remains” */
  }
  
  .header.div{
    background-color:  #c5192d;
    margin-top: 4rem;
  }
  li:nth-child(3n+1)::before {
    content: "\1F64C";          /* Emoji hender */
  }
  
  li:nth-child(3n+2)::before {
    content: "\1F3EB";          /* Emoji skole */
  }
  
  li:nth-child(3n+3)::before {
    content: "\1F4DA";          /* Emoji bøker */
  }
  
  
  main{
    box-shadow: 0 0 1px 0 darkgray;
    background-color: whitesmoke;
    padding: 5px;
  
  }
  
  #intro-container{
    margin: 20px;
    padding: 20px 10px 20px 10px;
    background-color:#c5192d ;
    background-size: 50% auto;
    width: 50%;
  }
    
  ul {
    list-style: none;           /* remove the default */
  }

  .header, #main, footer{
    width: 70%;
  }

  article{
    display: inline-block;
    margin-right: -10%;
    width: 45%;
    padding-right: 10%;
  }

}

